html, body {
  height: 900px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #31548c;
}

/* Div's */

.banner{
  background-color: #274472;
  font-family: Georgia;
  height: 75px;
  overflow: hidden;
}


.container{
  color: white;
  background-color: #274472;
  border: 3px #233c76 solid;
  font-family: Georgia;
  height: 700px;
  width: 99%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.about{
  float: right;
  color: white;
  background-color: #426bae;
  border: 3px #233c76 solid;
  height: 695px;
  width: 100%;
}

.profile{
  float: left;
  color: white;
  background-color: #426bae;
  border: 3px #233c76 solid;
  height: 695px;
  width: 35%;
}

.exp{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
/* ID's */

#avatar{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}

#foodbank{
  border: 2px solid #FF7314;
  background-color: #ffffff;
}

#foodbank:hover{
  background-color: #f5c4a3;
}


#BE{
  border: 2px solid #8D796E;
  background-color: snow;
}

#BE:hover{
  background-color: #d5c6be;
}


#TAEHS{
  border: 2px solid #D5AE42;
  background-color: white;
}

#TAEHS:hover{
  background-color: #f3dc9b;
}


/* Classes's */
.headingText{
  margin: 15px;
  float: left;
  color: aliceblue;
}

.headingImg{
  margin: 10px;
  float: left;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-color: #20365b;
}

.headingImg:hover{
  background-color: #456396;
}

.navBtn{
  float: right;
  width: 65px;
  text-align: center;
}

/* Tags */

.nav a{
  color: whitesmoke;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 8px;
  background-color: #538ec6;
  border: 3px #233c76 solid;
  margin: 5px;
  margin-top: 15px;
}

.nav a:hover{
  background-color: #8cbce8;
  border: 10px;
  font-size: 18px;
}

.container hr{
border: 3px solid #233c76;
}

.about p{
  font-size: 20px;
  text-align: left;
  margin: 10px;
}


.exp img{
  float: left;
  margin: 5px;
}