html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Div's */

.banner{
  background-color: #274472;
  font-family: Georgia;
  height: 75px;
  overflow: hidden;
}

.navBar{
}


/* ID's */


/* Classes's */
.headingText{
  margin: 15px;
  float: left;
  color: aliceblue;
}

.headingImg{
  margin: 10px;
  float: left;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-color: #20365b;
}
/* Tags */